In [1]:
#importations 
import pandas as pd
import pandas as pd
import numpy as np
from scipy.spatial import distance
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
#locate files from computer

In [2]:
cd//Users/esekhaigbe/Downloads/codes

/Users/esekhaigbe/Downloads/codes

In [3]:
df = pd.read_csv('perpub2022.csv')
df['Person'] = df['HOUSEID'].map(str) + '-' + df['PERSONID'].map(str)
df

,HOUSEID,PERSONID,WTPERFIN,WTPERFIN5D,WTPERFIN2D,R_AGE,R_SEX,R_RELAT,WORKER,DRIVER,...,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,Person
0,9000013002,1,3938.688806,0.000000,13363.809355,39,2,7,2,1,...,1,5,1,1,4,1,202202,1,1021,9000013002-1
1,9000013002,2,5409.514573,0.000000,19360.094919,42,1,1,1,1,...,1,5,1,1,4,1,202202,1,1021,9000013002-2
2,9000013002,3,3013.582163,0.000000,7285.044994,8,-7,2,-1,-1,...,1,5,1,1,4,1,202202,1,1021,9000013002-3
3,9000013002,4,6214.108740,0.000000,27109.336829,5,-7,2,-1,-1,...,1,5,1,1,4,1,202202,1,1021,9000013002-4
4,9000013016,1,3183.420810,4177.234452,0.000000,32,2,7,1,1,...,3,3,4,1,2,1,202202,2,1021,9000013016-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16992,9000218021,1,1183.690130,0.000000,8249.957449,74,2,7,2,1,...,3,1,1,4,6,2,202212,0,1032,9000218021-1
16993,9000218034,1,7793.315388,10009.558598,0.000000,60,2,7,2,1,...,4,6,5,4,6,2,202212,0,1032,9000218034-1
16994,9000218034,2,7775.819529,9681.166429,0.000000,62,1,1,2,1,...,4,6,5,4,6,2,202212,0,1032,9000218034-2
16995,9000218036,1,33531.177084,38232.679184,0.000000,42,2,7,2,2,...,4,6,4,4,6,2,202301,0,1032,9000218036-1
16996,9000218040,1,11455.059845,12936.571349,0.000000,58,2,7,1,1,...,4,6,5,4,6,2,202212,1,1032,9000218040-1

In [4]:
tour = pd.read_csv('2022tourfile.csv')
tour

            Person       HOUSEID  PERSONID  PERSONID.1  Tour
0     9000013002-1  9.000013e+09       1.0         1.0   1.0
1     9000013002-2  9.000013e+09       2.0         2.0   1.0
2     9000013002-4  9.000013e+09       4.0         4.0   1.0
3     9000013016-1  9.000013e+09       1.0         1.0   1.0
4     9000013016-2  9.000013e+09       2.0         2.0   1.0
...            ...           ...       ...         ...   ...
9518  9000217992-1  9.000218e+09       1.0         1.0   1.0
9519  9000217992-2  9.000218e+09       2.0         2.0   1.0
9520  9000218006-1  9.000218e+09       1.0         1.0   1.0
9521  9000218006-2  9.000218e+09       2.0         2.0   1.0
9522  9000218013-1  9.000218e+09       1.0         1.0   1.0

[9523 rows x 5 columns]

In [5]:
stop = pd.read_csv('2022stopfile.csv')
stop

            Person       HOUSEID  PERSONID  PERSONID.1  Stop
0     9000013002-1  9.000013e+09       1.0         1.0   1.0
1     9000013002-2  9.000013e+09       2.0         2.0   2.0
2     9000013002-4  9.000013e+09       4.0         4.0   1.0
3     9000013016-1  9.000013e+09       1.0         1.0   1.0
4     9000013016-2  9.000013e+09       2.0         2.0   1.0
...            ...           ...       ...         ...   ...
7173  9000217982-2  9.000218e+09       2.0         2.0   2.0
7174  9000217982-3  9.000218e+09       3.0         3.0   1.0
7175  9000218006-1  9.000218e+09       1.0         1.0   2.0
7176  9000218013-1  9.000218e+09       1.0         1.0   2.0
7177  9000218040-1  9.000218e+09       1.0         1.0   2.0

[7178 rows x 5 columns]

In [6]:
pd = pd.read_csv('2022pdestinationfile.csv')
pd

            Person       HOUSEID  PERSONID  PERSONID.1  P_Destination
0     9000013016-1  9.000013e+09       1.0         1.0            1.0
1     9000013016-2  9.000013e+09       2.0         2.0            1.0
2     9000013043-1  9.000013e+09       1.0         1.0            1.0
3     9000013068-1  9.000013e+09       1.0         1.0            1.0
4     9000013068-2  9.000013e+09       2.0         2.0            1.0
...            ...           ...       ...         ...            ...
4772  9000217982-3  9.000218e+09       3.0         3.0            1.0
4773  9000217992-1  9.000218e+09       1.0         1.0            1.0
4774  9000217992-2  9.000218e+09       2.0         2.0            1.0
4775  9000218006-2  9.000218e+09       2.0         2.0            1.0
4776  9000218040-1  9.000218e+09       1.0         1.0            1.0

[4777 rows x 5 columns]

In [10]:

df1=tour.merge(df, on='Person', how='left')
df1

,Person,HOUSEID_x,PERSONID_x,PERSONID.1,Tour,HOUSEID_y,PERSONID_y,WTPERFIN,WTPERFIN5D,WTPERFIN2D,...,LIF_CYC,MSACAT,MSASIZE,TRAVDAY,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID
0,9000013002-1,9.000013e+09,1.0,1.0,1.0,9000013002,1,3938.688806,0.000000,13363.809355,...,4,1,5,1,1,4,1,202202,1,1021
1,9000013002-2,9.000013e+09,2.0,2.0,1.0,9000013002,2,5409.514573,0.000000,19360.094919,...,4,1,5,1,1,4,1,202202,1,1021
2,9000013002-4,9.000013e+09,4.0,4.0,1.0,9000013002,4,6214.108740,0.000000,27109.336829,...,4,1,5,1,1,4,1,202202,1,1021
3,9000013016-1,9.000013e+09,1.0,1.0,1.0,9000013016,1,3183.420810,4177.234452,0.000000,...,2,3,3,4,1,2,1,202202,2,1021
4,9000013016-2,9.000013e+09,2.0,2.0,1.0,9000013016,2,3213.680996,4010.809995,0.000000,...,2,3,3,4,1,2,1,202202,2,1021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9518,9000217992-1,9.000218e+09,1.0,1.0,1.0,9000217992,1,47981.850582,66728.375382,0.000000,...,2,2,4,4,1,5,1,202301,2,1031
9519,9000217992-2,9.000218e+09,2.0,2.0,1.0,9000217992,2,52878.363815,72081.134110,0.000000,...,2,2,4,4,1,5,1,202301,2,1031
9520,9000218006-1,9.000218e+09,1.0,1.0,1.0,9000218006,1,6453.550836,8921.618161,0.000000,...,5,2,4,2,1,3,1,202212,1,1031
9521,9000218006-2,9.000218e+09,2.0,2.0,1.0,9000218006,2,6678.701098,8744.171368,0.000000,...,5,2,4,2,1,3,1,202212,1,1031
9522,9000218013-1,9.000218e+09,1.0,1.0,1.0,9000218013,1,6787.592149,8548.020669,0.000000,...,10,3,1,5,1,1,1,202301,0,1031

In [11]:
df2=df1.merge(stop, on='Person', how='left')
df2

,Person,HOUSEID_x,PERSONID_x,PERSONID.1_x,Tour,HOUSEID_y,PERSONID_y,WTPERFIN,WTPERFIN5D,WTPERFIN2D,...,URBAN,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,HOUSEID,PERSONID,PERSONID.1_y,Stop
0,9000013002-1,9.000013e+09,1.0,1.0,1.0,9000013002,1,3938.688806,0.000000,13363.809355,...,1,4,1,202202,1,1021,9.000013e+09,1.0,1.0,1.0
1,9000013002-2,9.000013e+09,2.0,2.0,1.0,9000013002,2,5409.514573,0.000000,19360.094919,...,1,4,1,202202,1,1021,9.000013e+09,2.0,2.0,2.0
2,9000013002-4,9.000013e+09,4.0,4.0,1.0,9000013002,4,6214.108740,0.000000,27109.336829,...,1,4,1,202202,1,1021,9.000013e+09,4.0,4.0,1.0
3,9000013016-1,9.000013e+09,1.0,1.0,1.0,9000013016,1,3183.420810,4177.234452,0.000000,...,1,2,1,202202,2,1021,9.000013e+09,1.0,1.0,1.0
4,9000013016-2,9.000013e+09,2.0,2.0,1.0,9000013016,2,3213.680996,4010.809995,0.000000,...,1,2,1,202202,2,1021,9.000013e+09,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9518,9000217992-1,9.000218e+09,1.0,1.0,1.0,9000217992,1,47981.850582,66728.375382,0.000000,...,1,5,1,202301,2,1031,NaN,NaN,NaN,NaN
9519,9000217992-2,9.000218e+09,2.0,2.0,1.0,9000217992,2,52878.363815,72081.134110,0.000000,...,1,5,1,202301,2,1031,NaN,NaN,NaN,NaN
9520,9000218006-1,9.000218e+09,1.0,1.0,1.0,9000218006,1,6453.550836,8921.618161,0.000000,...,1,3,1,202212,1,1031,9.000218e+09,1.0,1.0,2.0
9521,9000218006-2,9.000218e+09,2.0,2.0,1.0,9000218006,2,6678.701098,8744.171368,0.000000,...,1,3,1,202212,1,1031,NaN,NaN,NaN,NaN
9522,9000218013-1,9.000218e+09,1.0,1.0,1.0,9000218013,1,6787.592149,8548.020669,0.000000,...,1,1,1,202301,0,1031,9.000218e+09,1.0,1.0,2.0

In [12]:
df3=df2.merge(pd, on='Person', how='left')
df3

/var/folders/fs/02s140qd6n97_sck15lvgycm0000gn/T/ipykernel_2733/2674132202.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PERSONID_x', 'HOUSEID_x'} in the result is deprecated and will raise a MergeError in a future version.
  df3=df2.merge(pd, on='Person', how='left')

,Person,HOUSEID_x,PERSONID_x,PERSONID.1_x,Tour,HOUSEID_y,PERSONID_y,WTPERFIN,WTPERFIN5D,WTPERFIN2D,...,WRKCOUNT,STRATUMID,HOUSEID_x,PERSONID_x,PERSONID.1_y,Stop,HOUSEID_y,PERSONID_y,PERSONID.1,P_Destination
0,9000013002-1,9.000013e+09,1.0,1.0,1.0,9000013002,1,3938.688806,0.000000,13363.809355,...,1,1021,9.000013e+09,1.0,1.0,1.0,NaN,NaN,NaN,NaN
1,9000013002-2,9.000013e+09,2.0,2.0,1.0,9000013002,2,5409.514573,0.000000,19360.094919,...,1,1021,9.000013e+09,2.0,2.0,2.0,NaN,NaN,NaN,NaN
2,9000013002-4,9.000013e+09,4.0,4.0,1.0,9000013002,4,6214.108740,0.000000,27109.336829,...,1,1021,9.000013e+09,4.0,4.0,1.0,NaN,NaN,NaN,NaN
3,9000013016-1,9.000013e+09,1.0,1.0,1.0,9000013016,1,3183.420810,4177.234452,0.000000,...,2,1021,9.000013e+09,1.0,1.0,1.0,9.000013e+09,1.0,1.0,1.0
4,9000013016-2,9.000013e+09,2.0,2.0,1.0,9000013016,2,3213.680996,4010.809995,0.000000,...,2,1021,9.000013e+09,2.0,2.0,1.0,9.000013e+09,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9518,9000217992-1,9.000218e+09,1.0,1.0,1.0,9000217992,1,47981.850582,66728.375382,0.000000,...,2,1031,NaN,NaN,NaN,NaN,9.000218e+09,1.0,1.0,1.0
9519,9000217992-2,9.000218e+09,2.0,2.0,1.0,9000217992,2,52878.363815,72081.134110,0.000000,...,2,1031,NaN,NaN,NaN,NaN,9.000218e+09,2.0,2.0,1.0
9520,9000218006-1,9.000218e+09,1.0,1.0,1.0,9000218006,1,6453.550836,8921.618161,0.000000,...,1,1031,9.000218e+09,1.0,1.0,2.0,NaN,NaN,NaN,NaN
9521,9000218006-2,9.000218e+09,2.0,2.0,1.0,9000218006,2,6678.701098,8744.171368,0.000000,...,1,1031,NaN,NaN,NaN,NaN,9.000218e+09,2.0,2.0,1.0
9522,9000218013-1,9.000218e+09,1.0,1.0,1.0,9000218013,1,6787.592149,8548.020669,0.000000,...,0,1031,9.000218e+09,1.0,1.0,2.0,NaN,NaN,NaN,NaN

In [13]:
df2.to_csv('2022mergednhts.csv')

In [9]:
df1 = pd.merge(left=df, right=tour, how='left', left_on='Person', right_on='Person')
df1

TypeError: merge() got an unexpected keyword argument 'left'

In [19]:
df1=df.merge(tour, left_on='Person', right_on='Person')

df1

,HOUSEID_x,PERSONID_x,WTPERFIN,WTPERFIN5D,WTPERFIN2D,R_AGE,R_SEX,R_RELAT,WORKER,DRIVER,...,URBANSIZE,URBRUR,TDAYDATE,WRKCOUNT,STRATUMID,Person,HOUSEID_y,PERSONID_y,Tour,WTTRDFIN
0,9000013002,1,3938.688806,0.000000,13363.809355,39,2,7,2,1,...,4,1,202202,1,1021,9000013002-1,9.000013e+09,1.0,1.0,1.437621e+06
1,9000013002,2,5409.514573,0.000000,19360.094919,42,1,1,1,1,...,4,1,202202,1,1021,9000013002-2,9.000013e+09,2.0,1.0,1.974473e+06
2,9000013002,4,6214.108740,0.000000,27109.336829,5,-7,2,-1,-1,...,4,1,202202,1,1021,9000013002-4,9.000013e+09,4.0,1.0,2.268150e+06
3,9000013016,1,3183.420810,4177.234452,0.000000,32,2,7,1,1,...,2,1,202202,2,1021,9000013016-1,9.000013e+09,1.0,1.0,1.161949e+06
4,9000013016,2,3213.680996,4010.809995,0.000000,41,1,1,1,1,...,2,1,202202,2,1021,9000013016-2,9.000013e+09,2.0,1.0,1.172994e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9659,9000217992,2,52878.363815,72081.134110,0.000000,33,1,1,1,1,...,5,1,202301,2,1031,9000217992-2,9.000218e+09,2.0,1.0,1.930060e+07
9660,9000218006,1,6453.550836,8921.618161,0.000000,43,1,7,1,1,...,3,1,202212,1,1031,9000218006-1,9.000218e+09,1.0,1.0,2.355546e+06
9661,9000218006,2,6678.701098,8744.171368,0.000000,15,1,2,-1,2,...,3,1,202212,1,1031,9000218006-2,9.000218e+09,2.0,1.0,2.437726e+06
9662,9000218013,1,6787.592149,8548.020669,0.000000,78,2,7,2,1,...,1,1,202301,0,1031,9000218013-1,9.000218e+09,1.0,1.0,2.477471e+06
9663,9000218040,1,11455.059845,12936.571349,0.000000,58,2,7,1,1,...,6,2,202212,1,1032,9000218040-1,9.000218e+09,1.0,1.0,4.181097e+06

df1=df.merge(tour[['Person', 'Tour']], on='Person')
df1

### merged_df = pd.merge(df, tour, on='Person')
merged_df