In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
from scipy.spatial import distance
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
#locate files from computer

In [2]:
from __future__ import print_function
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import logit, probit, poisson, ols
import statsmodels.formula.api as sfa

import statsmodels.formula.api as smf
import statsmodels.api as sm


import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from matplotlib import pyplot as plt

import seaborn as sns
#import plotly.express as px
from matplotlib import pyplot as plt
from scipy.stats import norm
import scipy.stats as stats
import sklearn
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics 
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
from statsmodels.miscmodels.ordinal_model import OrderedModel

In [3]:
cd//Users/esekhaigbe/Downloads/codes

/Users/esekhaigbe/Downloads/codes

In [4]:
# locate and load file to Read 
df = pd.read_csv('fileforcorelation.csv')
df

,Unnamed: 0,Unnamed: 0.1_x,Unnamed: 0_x,PERSON_ID,O_PURPOSE_x,O_PURPOSE_y,Home_Based_Tour,Expected_Output,Class,class type,...,HOV_USED,TOLL_ROAD_USED,DISTANCE_y,REPORTED_TRAVEL_TIME_y,WTTRDFIN,WWM_WTTRDFIN,Unnamed: 0_y,D_PURPOSE_y,TRAVEL_MODE_y,WTPERFIN_y
0,0,0,0,14000027101,HomeWorkStopStopWork,Home,HomeWorkStopStopWorkHome,True,Class C,HBW + WBW,...,-9.0,-9.0,5.098000,10.0,136.460113,153.0,3.0,Work,Private car,136.460113
1,1,2,2,14000028001,HomeWorkHomeStopStop,Home,HomeWorkHomeStopStopHome,True,Class E,HBW + HBO,...,-9.0,-9.0,9.326000,20.0,131.745870,143.0,7.0,Work,Private car,131.745870
2,2,3,3,14000029101,HomeWorkStop,Home,HomeWorkStopHome,True,Class B,HBW + Stops,...,-9.0,-9.0,8.794000,20.0,88.698225,100.0,17.0,Work,Private car,88.698225
3,3,7,7,14000031601,HomeWorkHomeStopHome,Home,HomeWorkHomeStopHomeHome,True,Class E,HBW + HBO,...,-9.0,-9.0,19.332000,63.0,58.049674,65.0,36.0,Work,Private car,58.049674
4,4,8,8,14000031602,HomeWorkWorkWorkWorkWorkHomeStop,Home,HomeWorkWorkWorkWorkWorkHomeStopHome,True,Class I,Multiple Work + HBO,...,-9.0,-9.0,4.205000,12.0,58.049674,65.0,47.0,Other,Private car,58.049674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14898,14898,31728,31728,18025682902,HomeStopWorkStop,Home,HomeStopWorkStopHome,True,Class B,HBW + Stops,...,-9.0,-9.0,1.550252,15.0,245.000000,282.0,126828.0,Work,Private car,245.000000
14899,14899,31730,31730,18025684801,HomeWorkWorkWorkHomeStop,Home,HomeWorkWorkWorkHomeStopHome,True,Class I,Multiple Work + HBO,...,-9.0,-9.0,3.557197,30.0,95.000000,94.0,126833.0,Work,Public transit,95.000000
14900,14900,31731,31731,18025686801,HomeWork,Home,HomeWorkHome,True,Class A,HWH,...,-9.0,-9.0,34.369127,130.0,99.000000,120.0,126839.0,Work,Public transit,99.000000
14901,14901,31732,31732,18025686802,HomeWork,Home,HomeWorkHome,True,Class A,HWH,...,-9.0,-9.0,27.749568,30.0,99.000000,91.0,126841.0,Work,Private car,99.000000
14902,14902,31738,31738,18025694102,HomeWorkStop,Home,HomeWorkStopHome,True,Class B,HBW + Stops,...,-9.0,-9.0,20.940748,45.0,157.000000,171.0,126871.0,Work,Private car,157.000000

In [5]:
df1=df.loc[ :, ['PERSON_ID','Home_Based_Tour','Class','AGE','JOBS_COUNT','RACEETHNICITY','LICENSE','NUMWORKERS','HHSIZE','NUMVEHICLE','HH_INCOME_DETAILED','TRAVEL_MODE_x','DISABILITY','EMPLOYMENT_STATUS','GENDER']]

df1

,PERSON_ID,Home_Based_Tour,Class,AGE,JOBS_COUNT,RACEETHNICITY,LICENSE,NUMWORKERS,HHSIZE,NUMVEHICLE,HH_INCOME_DETAILED,TRAVEL_MODE_x,DISABILITY,EMPLOYMENT_STATUS,GENDER
0,14000027101,HomeWorkStopStopWorkHome,Class C,59,1,4,1,3,3,4,8,4.0,2,0,1
1,14000028001,HomeWorkHomeStopStopHome,Class E,67,1,4,1,1,1,2,7,4.0,2,0,2
2,14000029101,HomeWorkStopHome,Class B,63,1,4,1,1,2,2,7,4.0,2,0,1
3,14000031601,HomeWorkHomeStopHomeHome,Class E,25,1,4,1,2,2,2,5,4.0,2,0,1
4,14000031602,HomeWorkWorkWorkWorkWorkHomeStopHome,Class I,27,1,4,1,2,2,2,5,4.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14898,18025682902,HomeStopWorkStopHome,Class B,39,2,2,1,2,3,2,7,4.0,2,0,1
14899,18025684801,HomeWorkWorkWorkHomeStopHome,Class I,61,1,4,1,1,2,1,8,7.0,2,0,2
14900,18025686801,HomeWorkHome,Class A,33,1,3,1,2,2,2,8,7.0,2,0,2
14901,18025686802,HomeWorkHome,Class A,34,1,3,1,2,2,2,8,4.0,2,0,1
14902,18025694102,HomeWorkStopHome,Class B,64,1,5,1,1,2,3,7,4.0,1,0,2

In [6]:
#df1["WHYTO"].replace({1: 'Home', 2: 'Home', 3:'Stop', 4:'Stop', 5: 'Stop', 6:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 10:'Stop', 11:'Stop', 12:'Stop',13:'Stop',14:'Stop',15:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',97:'Stop',-7 :'Stop', -8 : 'Stop', 97:'Stop',-9:'Stop'}, inplace=True)
#df1["D_PURPOSE"].replace({1: 'Home', 2: 'Work', 3:'Work', 4:'Shop', 7:'School', 8:'School', 9:'Other', 11:'Other',13:'Other',16:'Publictransit',17:'Publictransit',19:'Airport',77:'Other',99 :'Other',-9:'Other'}, inplace=True)
df1["RACEETHNICITY"].replace({1:"Hispanic", 2: "Black", 3:'Asian', 4:'White',5:'Others', -9:'Others'},  inplace = True)
#df["TRAVEL_MODE"].replace({1: 'Walk', 2: 'Bike', 3:'Bike', 4:'Car', 5:'Car', 6:'School bus', 7:'rail', 8:'Bus', 9:'Bus',10:'Para transit',11:'Taxi',12:'Taxi',13:'Air',14:'Water',15:'Others'}, inplace=True)
df1["TRAVEL_MODE_x"].replace({1: 'Walk', 2: 'Bike', 3:'Bike', 4:'Private car', 5:'Private car', 6:'School bus', 7:'Public transit', 8:'Public transit', 9:'Rideshare/Private Bus',10:'Rideshare/Private Bus',11:'Rideshare/Private Bus',12:'Rideshare/Private Bus',13:'Others',14:'Others',15:'Others'}, inplace=True)
df1["LICENSE"].replace({1: 'With License', 2: 'No License',-9:'No response'}, inplace=True)
df1["DISABILITY"].replace({1: 'Disabled', 2: 'Not disabled',-9:'No response'}, inplace=True)
df1["EMPLOYMENT_STATUS"].replace({0: 'Employed',1: 'Retired', 2: 'Employed', 3:'Unemployed',4:'Unemployed', 5:'Unemployed', 6:'Student',7:'Unemployed',-9:'Unemployed'}, inplace=True)
df1["GENDER"].replace({1: 'Female', 2: 'Male',-9:'No response'}, inplace=True)


df1

,PERSON_ID,Home_Based_Tour,Class,AGE,JOBS_COUNT,RACEETHNICITY,LICENSE,NUMWORKERS,HHSIZE,NUMVEHICLE,HH_INCOME_DETAILED,TRAVEL_MODE_x,DISABILITY,EMPLOYMENT_STATUS,GENDER
0,14000027101,HomeWorkStopStopWorkHome,Class C,59,1,White,With License,3,3,4,8,Private car,Not disabled,Employed,Female
1,14000028001,HomeWorkHomeStopStopHome,Class E,67,1,White,With License,1,1,2,7,Private car,Not disabled,Employed,Male
2,14000029101,HomeWorkStopHome,Class B,63,1,White,With License,1,2,2,7,Private car,Not disabled,Employed,Female
3,14000031601,HomeWorkHomeStopHomeHome,Class E,25,1,White,With License,2,2,2,5,Private car,Not disabled,Employed,Female
4,14000031602,HomeWorkWorkWorkWorkWorkHomeStopHome,Class I,27,1,White,With License,2,2,2,5,Private car,Not disabled,Employed,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14898,18025682902,HomeStopWorkStopHome,Class B,39,2,Black,With License,2,3,2,7,Private car,Not disabled,Employed,Female
14899,18025684801,HomeWorkWorkWorkHomeStopHome,Class I,61,1,White,With License,1,2,1,8,Public transit,Not disabled,Employed,Male
14900,18025686801,HomeWorkHome,Class A,33,1,Asian,With License,2,2,2,8,Public transit,Not disabled,Employed,Male
14901,18025686802,HomeWorkHome,Class A,34,1,Asian,With License,2,2,2,8,Private car,Not disabled,Employed,Female
14902,18025694102,HomeWorkStopHome,Class B,64,1,Others,With License,1,2,3,7,Private car,Disabled,Employed,Male

In [7]:
#categorization of variables
category = pd.cut(df1.AGE,bins=[0,5,17,24,40,65,99],labels=['Toddler/baby','Child','17years-24years','25years-40years','40years-65years','Elderly'])
df1.insert(7,'Ageclass',category)
df1

category = pd.cut(df1.NUMWORKERS,bins=[-100,0,2,10],labels=['none','oneandtwo','morethantwo'])
df1.insert(5,'numberofworkers',category)

category = pd.cut(df1.NUMVEHICLE,bins=[-100,0,1,10],labels=['noveh','one','morethanone'])
df1.insert(5,'numberofvehicle',category)

category = pd.cut(df1.HHSIZE,bins=[-100,0,1,10],labels=['no','one','morethanone'])
df1.insert(5,'housesize',category)


category = pd.cut(df1.HH_INCOME_DETAILED,bins=[-100,0,3,7,10],labels=['None','poor','Middleincome','Rich'])
df1.insert(5,'income',category)
df1

,PERSON_ID,Home_Based_Tour,Class,AGE,JOBS_COUNT,income,housesize,numberofvehicle,numberofworkers,RACEETHNICITY,LICENSE,Ageclass,NUMWORKERS,HHSIZE,NUMVEHICLE,HH_INCOME_DETAILED,TRAVEL_MODE_x,DISABILITY,EMPLOYMENT_STATUS,GENDER
0,14000027101,HomeWorkStopStopWorkHome,Class C,59,1,Rich,morethanone,morethanone,morethantwo,White,With License,40years-65years,3,3,4,8,Private car,Not disabled,Employed,Female
1,14000028001,HomeWorkHomeStopStopHome,Class E,67,1,Middleincome,one,morethanone,oneandtwo,White,With License,Elderly,1,1,2,7,Private car,Not disabled,Employed,Male
2,14000029101,HomeWorkStopHome,Class B,63,1,Middleincome,morethanone,morethanone,oneandtwo,White,With License,40years-65years,1,2,2,7,Private car,Not disabled,Employed,Female
3,14000031601,HomeWorkHomeStopHomeHome,Class E,25,1,Middleincome,morethanone,morethanone,oneandtwo,White,With License,25years-40years,2,2,2,5,Private car,Not disabled,Employed,Female
4,14000031602,HomeWorkWorkWorkWorkWorkHomeStopHome,Class I,27,1,Middleincome,morethanone,morethanone,oneandtwo,White,With License,25years-40years,2,2,2,5,Private car,Not disabled,Employed,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14898,18025682902,HomeStopWorkStopHome,Class B,39,2,Middleincome,morethanone,morethanone,oneandtwo,Black,With License,25years-40years,2,3,2,7,Private car,Not disabled,Employed,Female
14899,18025684801,HomeWorkWorkWorkHomeStopHome,Class I,61,1,Rich,morethanone,one,oneandtwo,White,With License,40years-65years,1,2,1,8,Public transit,Not disabled,Employed,Male
14900,18025686801,HomeWorkHome,Class A,33,1,Rich,morethanone,morethanone,oneandtwo,Asian,With License,25years-40years,2,2,2,8,Public transit,Not disabled,Employed,Male
14901,18025686802,HomeWorkHome,Class A,34,1,Rich,morethanone,morethanone,oneandtwo,Asian,With License,25years-40years,2,2,2,8,Private car,Not disabled,Employed,Female
14902,18025694102,HomeWorkStopHome,Class B,64,1,Middleincome,morethanone,morethanone,oneandtwo,Others,With License,40years-65years,1,2,3,7,Private car,Disabled,Employed,Male

In [8]:
df2=df1.loc[ :, ['Class','Ageclass','RACEETHNICITY','GENDER','housesize','numberofvehicle','income','TRAVEL_MODE_x']]

df2

,Class,Ageclass,RACEETHNICITY,GENDER,housesize,numberofvehicle,income,TRAVEL_MODE_x
0,Class C,40years-65years,White,Female,morethanone,morethanone,Rich,Private car
1,Class E,Elderly,White,Male,one,morethanone,Middleincome,Private car
2,Class B,40years-65years,White,Female,morethanone,morethanone,Middleincome,Private car
3,Class E,25years-40years,White,Female,morethanone,morethanone,Middleincome,Private car
4,Class I,25years-40years,White,Male,morethanone,morethanone,Middleincome,Private car
...,...,...,...,...,...,...,...,...
14898,Class B,25years-40years,Black,Female,morethanone,morethanone,Middleincome,Private car
14899,Class I,40years-65years,White,Male,morethanone,one,Rich,Public transit
14900,Class A,25years-40years,Asian,Male,morethanone,morethanone,Rich,Public transit
14901,Class A,25years-40years,Asian,Female,morethanone,morethanone,Rich,Private car
14902,Class B,40years-65years,Others,Male,morethanone,morethanone,Middleincome,Private car

In [9]:
#convert "team" to dummy variable
df3 = pd.get_dummies(df2, columns=['Ageclass','RACEETHNICITY','housesize','numberofvehicle','income','TRAVEL_MODE_x','GENDER'], drop_first=True)
df3

,Class,Ageclass_Child,Ageclass_17years-24years,Ageclass_25years-40years,Ageclass_40years-65years,Ageclass_Elderly,RACEETHNICITY_Black,RACEETHNICITY_Hispanic,RACEETHNICITY_Others,RACEETHNICITY_White,...,income_poor,income_Middleincome,income_Rich,TRAVEL_MODE_x_Others,TRAVEL_MODE_x_Private car,TRAVEL_MODE_x_Public transit,TRAVEL_MODE_x_Rideshare/Private Bus,TRAVEL_MODE_x_School bus,TRAVEL_MODE_x_Walk,GENDER_Male
0,Class C,0,0,0,1,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,0
1,Class E,0,0,0,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
2,Class B,0,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
3,Class E,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
4,Class I,0,0,1,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14898,Class B,0,0,1,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14899,Class I,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,1
14900,Class A,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
14901,Class A,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
14902,Class B,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1

In [29]:
my_list = list(df3)
my_list

['Class',
 'Ageclass_Child',
 'Ageclass_17years-24years',
 'Ageclass_25years-40years',
 'Ageclass_40years-65years',
 'Ageclass_Elderly',
 'RACEETHNICITY_Black',
 'RACEETHNICITY_Hispanic',
 'RACEETHNICITY_Others',
 'RACEETHNICITY_White',
 'housesize_one',
 'housesize_morethanone',
 'numberofvehicle_one',
 'numberofvehicle_morethanone',
 'income_poor',
 'income_Middleincome',
 'income_Rich',
 'TRAVEL_MODE_x_Others',
 'TRAVEL_MODE_x_Private car',
 'TRAVEL_MODE_x_Public transit',
 'TRAVEL_MODE_x_Rideshare/Private Bus',
 'TRAVEL_MODE_x_School bus',
 'TRAVEL_MODE_x_Walk',
 'GENDER_Male']

In [30]:
X = df3.drop(['Class','Ageclass_Child','Ageclass_40years-65years','GENDER_Male','TRAVEL_MODE_x_School bus','TRAVEL_MODE_x_Rideshare/Private Bus','RACEETHNICITY_Others','RACEETHNICITY_Hispanic','income_Middleincome','numberofvehicle_morethanone','housesize_morethanone'], axis=1) 
y = df3['Class']

print(list(X.columns.values)) 

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.20, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

['Ageclass_17years-24years', 'Ageclass_25years-40years', 'Ageclass_Elderly', 'RACEETHNICITY_Black', 'RACEETHNICITY_White', 'housesize_one', 'numberofvehicle_one', 'income_poor', 'income_Rich', 'TRAVEL_MODE_x_Others', 'TRAVEL_MODE_x_Private car', 'TRAVEL_MODE_x_Public transit', 'TRAVEL_MODE_x_Walk']
(11922, 13)
(2981, 13)
(11922,)
(2981,)

In [31]:
model1 = LogisticRegression(random_state=0, multi_class='multinomial', penalty='none', solver='newton-cg').fit(X_train, y_train)
preds = model1.predict(X_test)

#print the tunable parameters (They were not tuned in this example, everything kept as default)
params = model1.get_params()
print(params)

{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 100, 'multi_class': 'multinomial', 'n_jobs': None, 'penalty': 'none', 'random_state': 0, 'solver': 'newton-cg', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

In [32]:
#Use statsmodels to assess variables
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
logit_model=sm.MNLogit(y_train,sm.add_constant(X_train))
logit_model
result=logit_model.fit()
stats1=result.summary()
print(stats1)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 1.733737
         Iterations: 35

/Users/esekhaigbe/opt/anaconda3/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                          MNLogit Regression Results
==============================================================================
Dep. Variable:                  Class   No. Observations:                11922
Model:                        MNLogit   Df Residuals:                    11810
Method:                           MLE   Df Model:                          104
Date:                Fri, 13 Oct 2023   Pseudo R-squ.:                 0.01844
Time:                        13:44:03   Log-Likelihood:                -20670.
converged:                      False   LL-Null:                       -21058.
Covariance Type:            nonrobust   LLR p-value:                1.740e-103
================================================================================================
               Class=Class B       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -0.9521      0.157     -6.065      0.000      -1.260      -0.644
Ageclass_17years-24years        -0.2577      0.113     -2.271      0.023      -0.480      -0.035
Ageclass_25years-40years         0.0898      0.053      1.700      0.089      -0.014       0.193
Ageclass_Elderly                -0.0465      0.106     -0.438      0.661      -0.255       0.162
RACEETHNICITY_Black              0.3046      0.087      3.521      0.000       0.135       0.474
RACEETHNICITY_White              0.1803      0.066      2.750      0.006       0.052       0.309
housesize_one                    0.4499      0.072      6.209      0.000       0.308       0.592
numberofvehicle_one              0.1516      0.061      2.470      0.014       0.031       0.272
income_poor                     -0.0668      0.126     -0.532      0.595      -0.313       0.180
income_Rich                      0.0679      0.053      1.276      0.202      -0.036       0.172
TRAVEL_MODE_x_Others             1.7131      0.851      2.013      0.044       0.045       3.381
TRAVEL_MODE_x_Private car        0.5954      0.142      4.196      0.000       0.317       0.874
TRAVEL_MODE_x_Public transit    -0.1634      0.150     -1.087      0.277      -0.458       0.131
TRAVEL_MODE_x_Walk               0.4848      0.194      2.495      0.013       0.104       0.866
------------------------------------------------------------------------------------------------
               Class=Class C       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -1.8534      0.245     -7.559      0.000      -2.334      -1.373
Ageclass_17years-24years        -0.9351      0.294     -3.179      0.001      -1.512      -0.359
Ageclass_25years-40years         0.0011      0.098      0.012      0.991      -0.191       0.193
Ageclass_Elderly                -0.5049      0.243     -2.076      0.038      -0.982      -0.028
RACEETHNICITY_Black              0.1983      0.171      1.161      0.246      -0.136       0.533
RACEETHNICITY_White              0.2658      0.128      2.084      0.037       0.016       0.516
housesize_one                    0.3795      0.125      3.034      0.002       0.134       0.625
numberofvehicle_one              0.1368      0.107      1.278      0.201      -0.073       0.347
income_poor                     -0.6153      0.308     -1.999      0.046      -1.219      -0.012
income_Rich                      0.1362      0.101      1.355      0.176      -0.061       0.333
TRAVEL_MODE_x_Others           -28.1477   2.09e+06  -1.35e-05      1.000   -4.09e+06    4.09e+06
TRAVEL_MODE_x_Private car       -0.6009      0.209     -2.869      0.004      -1.011      -0.190
TRAVEL_MODE_x_Public transit    -0.0347      0.214     -0.162      0.872      -0.455       0.385
TRAVEL_MODE_x_Walk              -0.0169      0.300     -0.056      0.955      -0.606       0.572
------------------------------------------------------------------------------------------------
               Class=Class D       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -2.0405      0.231     -8.846      0.000      -2.493      -1.588
Ageclass_17years-24years        -0.7379      0.254     -2.905      0.004      -1.236      -0.240
Ageclass_25years-40years         0.2735      0.088      3.122      0.002       0.102       0.445
Ageclass_Elderly                -0.4334      0.217     -1.996      0.046      -0.859      -0.008
RACEETHNICITY_Black              0.2381      0.147      1.615      0.106      -0.051       0.527
RACEETHNICITY_White              0.1757      0.112      1.570      0.116      -0.044       0.395
housesize_one                    0.6340      0.110      5.780      0.000       0.419       0.849
numberofvehicle_one              0.2932      0.096      3.059      0.002       0.105       0.481
income_poor                     -0.1086      0.218     -0.499      0.618      -0.535       0.318
income_Rich                      0.1629      0.092      1.771      0.077      -0.017       0.343
TRAVEL_MODE_x_Others           -16.4897   6676.848     -0.002      0.998   -1.31e+04    1.31e+04
TRAVEL_MODE_x_Private car       -0.2036      0.200     -1.021      0.307      -0.595       0.187
TRAVEL_MODE_x_Public transit    -0.1606      0.208     -0.771      0.440      -0.569       0.247
TRAVEL_MODE_x_Walk               0.4650      0.263      1.768      0.077      -0.051       0.981
------------------------------------------------------------------------------------------------
               Class=Class E       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -0.9652      0.164     -5.884      0.000      -1.287      -0.644
Ageclass_17years-24years        -0.0726      0.121     -0.599      0.549      -0.310       0.165
Ageclass_25years-40years         0.0217      0.060      0.361      0.718      -0.096       0.139
Ageclass_Elderly                 0.0399      0.117      0.340      0.734      -0.190       0.270
RACEETHNICITY_Black              0.0303      0.104      0.291      0.771      -0.173       0.234
RACEETHNICITY_White              0.2858      0.075      3.824      0.000       0.139       0.432
housesize_one                    0.0587      0.085      0.691      0.489      -0.108       0.225
numberofvehicle_one              0.2063      0.069      2.982      0.003       0.071       0.342
income_poor                      0.0522      0.139      0.374      0.708      -0.221       0.325
income_Rich                      0.0509      0.060      0.855      0.392      -0.066       0.168
TRAVEL_MODE_x_Others             0.7314      1.012      0.722      0.470      -1.253       2.716
TRAVEL_MODE_x_Private car        0.1778      0.145      1.226      0.220      -0.106       0.462
TRAVEL_MODE_x_Public transit    -0.5429      0.157     -3.467      0.001      -0.850      -0.236
TRAVEL_MODE_x_Walk               0.7664      0.190      4.026      0.000       0.393       1.139
------------------------------------------------------------------------------------------------
               Class=Class F       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -2.6814      0.308     -8.719      0.000      -3.284      -2.079
Ageclass_17years-24years        -0.2099      0.274     -0.766      0.444      -0.747       0.327
Ageclass_25years-40years         0.1958      0.117      1.677      0.094      -0.033       0.425
Ageclass_Elderly                -0.3415      0.280     -1.220      0.222      -0.890       0.207
RACEETHNICITY_Black             -0.3378      0.221     -1.525      0.127      -0.772       0.096
RACEETHNICITY_White              0.1423      0.143      0.997      0.319      -0.137       0.422
housesize_one                    0.3787      0.149      2.548      0.011       0.087       0.670
numberofvehicle_one              0.4853      0.126      3.862      0.000       0.239       0.732
income_poor                     -0.4183      0.337     -1.241      0.215      -1.079       0.242
income_Rich                      0.2535      0.119      2.138      0.033       0.021       0.486
TRAVEL_MODE_x_Others            -7.6987    108.302     -0.071      0.943    -219.967     204.570
TRAVEL_MODE_x_Private car       -0.1351      0.268     -0.504      0.614      -0.661       0.390
TRAVEL_MODE_x_Public transit    -0.1857      0.281     -0.661      0.508      -0.736       0.364
TRAVEL_MODE_x_Walk               0.9850      0.320      3.079      0.002       0.358       1.612
------------------------------------------------------------------------------------------------
               Class=Class G       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -3.1073      0.410     -7.571      0.000      -3.912      -2.303
Ageclass_17years-24years        -0.2664      0.285     -0.935      0.350      -0.825       0.292
Ageclass_25years-40years        -0.0630      0.137     -0.461      0.645      -0.331       0.205
Ageclass_Elderly                 0.2898      0.227      1.275      0.202      -0.156       0.735
RACEETHNICITY_Black             -0.0078      0.240     -0.033      0.974      -0.478       0.462
RACEETHNICITY_White              0.3103      0.173      1.791      0.073      -0.029       0.650
housesize_one                    0.2204      0.185      1.190      0.234      -0.143       0.584
numberofvehicle_one              0.1438      0.160      0.897      0.370      -0.170       0.458
income_poor                      0.4776      0.251      1.902      0.057      -0.015       0.970
income_Rich                     -0.3676      0.141     -2.599      0.009      -0.645      -0.090
TRAVEL_MODE_x_Others           -16.8355   1.55e+04     -0.001      0.999   -3.05e+04    3.04e+04
TRAVEL_MODE_x_Private car        0.5494      0.371      1.479      0.139      -0.179       1.277
TRAVEL_MODE_x_Public transit    -1.2787      0.453     -2.821      0.005      -2.167      -0.390
TRAVEL_MODE_x_Walk               1.2366      0.432      2.861      0.004       0.389       2.084
------------------------------------------------------------------------------------------------
               Class=Class H       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -1.9467      0.250     -7.772      0.000      -2.438      -1.456
Ageclass_17years-24years        -1.2147      0.304     -4.002      0.000      -1.810      -0.620
Ageclass_25years-40years        -0.0084      0.093     -0.091      0.928      -0.190       0.173
Ageclass_Elderly                -0.0384      0.181     -0.212      0.832      -0.394       0.317
RACEETHNICITY_Black             -0.0089      0.162     -0.055      0.956      -0.326       0.308
RACEETHNICITY_White              0.1716      0.117      1.471      0.141      -0.057       0.400
housesize_one                    0.3972      0.127      3.135      0.002       0.149       0.646
numberofvehicle_one              0.1495      0.110      1.365      0.172      -0.065       0.364
income_poor                      0.0808      0.219      0.369      0.712      -0.348       0.510
income_Rich                      0.0638      0.094      0.679      0.497      -0.120       0.248
TRAVEL_MODE_x_Others           -17.1880   9746.587     -0.002      0.999   -1.91e+04    1.91e+04
TRAVEL_MODE_x_Private car        0.1038      0.220      0.471      0.637      -0.328       0.536
TRAVEL_MODE_x_Public transit    -0.7870      0.245     -3.215      0.001      -1.267      -0.307
TRAVEL_MODE_x_Walk               0.2600      0.303      0.859      0.391      -0.334       0.854
------------------------------------------------------------------------------------------------
               Class=Class I       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -4.3740      0.629     -6.952      0.000      -5.607      -3.141
Ageclass_17years-24years        -0.1861      0.314     -0.594      0.553      -0.801       0.428
Ageclass_25years-40years        -0.2252      0.153     -1.475      0.140      -0.524       0.074
Ageclass_Elderly                -0.0150      0.276     -0.054      0.957      -0.556       0.526
RACEETHNICITY_Black              0.0192      0.303      0.064      0.949      -0.574       0.612
RACEETHNICITY_White              0.6314      0.212      2.980      0.003       0.216       1.047
housesize_one                    0.1121      0.207      0.541      0.588      -0.294       0.518
numberofvehicle_one              0.3467      0.174      1.996      0.046       0.006       0.687
income_poor                     -0.4341      0.430     -1.011      0.312      -1.276       0.408
income_Rich                     -0.0023      0.147     -0.016      0.987      -0.291       0.286
TRAVEL_MODE_x_Others           -34.4653   1.55e+08  -2.22e-07      1.000   -3.04e+08    3.04e+08
TRAVEL_MODE_x_Private car        1.2286      0.591      2.081      0.037       0.071       2.386
TRAVEL_MODE_x_Public transit     0.4867      0.612      0.795      0.427      -0.713       1.686
TRAVEL_MODE_x_Walk               1.7516      0.649      2.698      0.007       0.479       3.024
================================================================================================

In [ ]:
#Choice model

In [10]:
df2

,Class,Ageclass,RACEETHNICITY,GENDER,housesize,numberofvehicle,income,TRAVEL_MODE_x
0,Class C,40years-65years,White,Female,morethanone,morethanone,Rich,Private car
1,Class E,Elderly,White,Male,one,morethanone,Middleincome,Private car
2,Class B,40years-65years,White,Female,morethanone,morethanone,Middleincome,Private car
3,Class E,25years-40years,White,Female,morethanone,morethanone,Middleincome,Private car
4,Class I,25years-40years,White,Male,morethanone,morethanone,Middleincome,Private car
...,...,...,...,...,...,...,...,...
14898,Class B,25years-40years,Black,Female,morethanone,morethanone,Middleincome,Private car
14899,Class I,40years-65years,White,Male,morethanone,one,Rich,Public transit
14900,Class A,25years-40years,Asian,Male,morethanone,morethanone,Rich,Public transit
14901,Class A,25years-40years,Asian,Female,morethanone,morethanone,Rich,Private car
14902,Class B,40years-65years,Others,Male,morethanone,morethanone,Middleincome,Private car

In [11]:
contigency= pd.crosstab(df2['Class'], df2['RACEETHNICITY']) 
contigency

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class
Class A          476    655       290     156   3245
Class B          299    624       205     144   2690
Class C           53     91        39      20    497
Class D           67    130        50      35    588
Class E          211    291       117      79   1937
Class F           37     41        27      17    338
Class G           30     39        19      12    267
Class H           62     97        36      35    579
Class I           13     27         9       9    220

In [69]:
contigency_pct = pd.crosstab(df2['Class'], df2['TRAVEL_MODE_x'], normalize='index')
contigency_pct

TRAVEL_MODE_x,Bike,Others,Private car,Public transit,Rideshare/Private Bus,School bus,Walk
Class,,,,,,,
Class A,0.019909,0.000415,0.697014,0.234757,0.018457,0.000415,0.029034
Class B,0.013125,0.001767,0.797325,0.142605,0.012367,0.000252,0.032559
Class C,0.034286,0.000000,0.550000,0.358571,0.020000,0.000000,0.037143
Class D,0.033333,0.000000,0.631034,0.262069,0.013793,0.000000,0.059770
Class E,0.026945,0.001139,0.762429,0.132068,0.010626,0.002657,0.064137
Class F,0.041304,0.000000,0.615217,0.236957,0.013043,0.000000,0.093478
Class G,0.024523,0.000000,0.839237,0.049046,0.008174,0.002725,0.076294
Class H,0.021014,0.000000,0.793572,0.119901,0.022250,0.000000,0.043263
Class I,0.010791,0.000000,0.787770,0.129496,0.003597,0.000000,0.068345

In [12]:
dummies = pd.get_dummies(df2['Class'])
#dummies.drop(["I don't know"], axis= 1, inplace= True)
dummies.head()

,Class A,Class B,Class C,Class D,Class E,Class F,Class G,Class H,Class I
0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1

In [13]:
stats.chi2_contingency(crosstab)

NameError: name 'crosstab' is not defined

In [14]:
for series in dummies:
    nl = "\n"
    
    crosstab = pd.crosstab(dummies[f"{series}"], df2['RACEETHNICITY'])
    print(crosstab, nl)
    chi2, p, dof, expected = stats.chi2_contingency(crosstab)
    print(f"Chi2 value= {chi2}{nl}p-value= {p}{nl}Degrees of freedom= {dof}{nl}")

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class A
0                772   1340       502     351   7116
1                476    655       290     156   3245

Chi2 value= 31.52707303131322
p-value= 2.3897293680101966e-06
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class B
0                949   1371       587     363   7671
1                299    624       205     144   2690

Chi2 value= 30.038768951389375
p-value= 4.806290596924107e-06
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class C
0               1195   1904       753     487   9864
1                 53     91        39      20    497

Chi2 value= 1.6099473798376187
p-value= 0.8070031765597782
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class D
0               1181   1865       742     472   9773
1                 67    130        50      35    588

Chi2 value= 4.042097777411167
p-value= 0.40033851451800573
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class E
0               1037   1704       675     428   8424
1                211    291       117      79   1937

Chi2 value= 27.09764916271934
p-value= 1.8995387417099605e-05
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class F
0               1211   1954       765     490  10023
1                 37     41        27      17    338

Chi2 value= 8.621553242087007
p-value= 0.07128719648217104
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class G
0               1218   1956       773     495  10094
1                 30     39        19      12    267

Chi2 value= 2.7558694187285897
p-value= 0.5994741842450092
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class H
0               1186   1898       756     472   9782
1                 62     97        36      35    579

Chi2 value= 5.628346462119783
p-value= 0.22867595867885818
Degrees of freedom= 4

RACEETHNICITY  Asian  Black  Hispanic  Others  White
Class I
0               1235   1968       783     498  10141
1                 13     27         9       9    220

Chi2 value= 13.570883957157243
p-value= 0.008798391117191806
Degrees of freedom= 4

In [ ]:
#regresion

In [33]:
feature_cols = ['Ageclass_17years-24years', 'Ageclass_25years-40years', 'Ageclass_Elderly', 'RACEETHNICITY_Black', 'RACEETHNICITY_White', 'housesize_one', 'numberofvehicle_one', 'income_poor', 'income_Rich', 'TRAVEL_MODE_x_Others', 'TRAVEL_MODE_x_Private car', 'TRAVEL_MODE_x_Public transit', 'TRAVEL_MODE_x_Walk']
#X = df[feature_cols] # Features

X = df3[feature_cols] # Features

#df.iloc[:,df.columns != 'AVG_AADT+LANEWIDTH_MILEAGE']
y = df3.Class

In [34]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.20, random_state=5, stratify=y)

In [35]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [36]:
model = LogisticRegression()

In [37]:
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [38]:
train_acc = model.score(X_train_scaled, y_train)
print("The Accuracy for Training Set is {}".format(train_acc*100))

The Accuracy for Training Set is 34.01274953866801

In [41]:
result = model.fit()
print(result.summary())

TypeError: fit() missing 2 required positional arguments: 'X' and 'y'

In [42]:
X = df3[['Ageclass_17years-24years', 'Ageclass_25years-40years', 'Ageclass_Elderly', 'RACEETHNICITY_Black', 'RACEETHNICITY_White', 'housesize_one', 'numberofvehicle_one', 'income_poor', 'income_Rich', 'TRAVEL_MODE_x_Others', 'TRAVEL_MODE_x_Private car', 'TRAVEL_MODE_x_Public transit', 'TRAVEL_MODE_x_Walk']]
y = ['Class']
model = sm.OLS(y, X).fit()
predictions = model.predict(X)
model.summary()

ValueError: endog and exog matrices are different sizes

In [6]:
pearsoncorr = df1.corr(method='pearson')
pearsoncorr

,PERSON_ID,AGE,JOBS_COUNT,RACEETHNICITY,LICENSE,NUMWORKERS,HHSIZE,NUMVEHICLE,HH_INCOME_DETAILED,TRAVEL_MODE_x,WTPERFIN_y,DISABILITY,EMPLOYMENT_STATUS,GENDER
PERSON_ID,1.000000,-0.054372,-0.015586,-0.024997,0.037576,-0.045238,-0.054839,-0.121963,-0.034509,0.062045,0.080906,0.011774,0.012168,-0.001659
AGE,-0.054372,1.000000,-0.020755,0.058023,-0.125087,-0.183339,-0.153221,0.122705,0.098342,-0.054463,-0.046307,0.070643,0.074343,0.027361
JOBS_COUNT,-0.015586,-0.020755,1.000000,0.022023,-0.188228,0.188238,-0.013309,-0.001902,0.089351,-0.014851,-0.007054,0.186993,-0.299956,-0.011580
RACEETHNICITY,-0.024997,0.058023,0.022023,1.000000,-0.084008,-0.013527,-0.040953,0.038579,0.131989,-0.046841,-0.046900,0.006036,-0.010924,0.036502
LICENSE,0.037576,-0.125087,-0.188228,-0.084008,1.000000,0.004818,0.038963,-0.135153,-0.155690,0.170060,0.035132,-0.188497,-0.116232,-0.004595
NUMWORKERS,-0.045238,-0.183339,0.188238,-0.013527,0.004818,1.000000,0.551879,0.453938,0.261266,-0.056221,0.252019,0.013821,-0.092765,0.010495
HHSIZE,-0.054839,-0.153221,-0.013309,-0.040953,0.038963,0.551879,1.000000,0.454545,0.167776,-0.100166,0.546524,-0.009951,-0.017785,0.085111
NUMVEHICLE,-0.121963,0.122705,-0.001902,0.038579,-0.135153,0.453938,0.454545,1.000000,0.237906,-0.210050,0.231537,0.003729,-0.015853,0.053993
HH_INCOME_DETAILED,-0.034509,0.098342,0.089351,0.131989,-0.155690,0.261266,0.167776,0.237906,1.000000,-0.048541,0.035905,0.024332,-0.064080,0.081645
TRAVEL_MODE_x,0.062045,-0.054463,-0.014851,-0.046841,0.170060,-0.056221,-0.100166,-0.210050,-0.048541,1.000000,-0.060283,-0.014482,0.009657,-0.034706
WTPERFIN_y,0.080906,-0.046307,-0.007054,-0.046900,0.035132,0.252019,0.546524,0.231537,0.035905,-0.060283,1.000000,-0.004472,-0.007974,0.034311
DISABILITY,0.011774,0.070643,0.186993,0.006036,-0.188497,0.013821,-0.009951,0.003729,0.024332,-0.014482,-0.004472,1.000000,0.320542,0.001686
EMPLOYMENT_STATUS,0.012168,0.074343,-0.299956,-0.010924,-0.116232,-0.092765,-0.017785,-0.015853,-0.064080,0.009657,-0.007974,0.320542,1.000000,0.003160
GENDER,-0.001659,0.027361,-0.011580,0.036502,-0.004595,0.010495,0.085111,0.053993,0.081645,-0.034706,0.034311,0.001686,0.003160,1.000000