In [5]:
#importations 
import pandas as pd
import pandas as pd
import numpy as np
from scipy.spatial import distance
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
#locate files from computer

In [6]:
df = pd.read_csv('trippub.csv')
df

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,TRPMILES,TRPTRANS,TRPACCMP,TRPHHACC,...,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN
0,30000007,1,1,1000,1015,15,5.244,3,0,0,...,20,750,300,50,750,300,350,30,300,300
1,30000007,1,2,1510,1530,20,5.149,3,0,0,...,30,300,300,50,1500,750,750,20,750,300
2,30000007,2,1,700,900,120,84.004,6,0,0,...,40,1500,750,50,1500,750,750,20,750,300
3,30000007,2,2,1800,2030,150,81.628,6,0,0,...,20,750,300,40,1500,750,750,40,1500,750
4,30000007,3,1,845,900,15,2.250,3,0,0,...,20,750,300,50,750,300,350,60,750,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,1,810,837,27,1.168,1,0,0,...,70,30000,17000,70,7000,7000,5000,80,17000,17000
923568,50515573,1,2,1320,1328,8,0.238,1,0,0,...,80,17000,17000,70,7000,7000,5000,60,3000,3000
923569,50515573,1,3,1415,1420,5,0.238,1,0,0,...,60,3000,3000,70,7000,7000,5000,80,17000,17000
923570,50515573,1,4,1820,1845,25,0.867,1,0,0,...,80,17000,17000,60,30000,30000,5000,70,30000,30000
923571,50515573,1,5,1848,1855,7,0.325,1,0,0,...,70,30000,30000,70,30000,30000,5000,70,30000,17000

In [7]:
df['Person'] = df['HOUSEID'].map(str) + '-' + df['PERSONID'].map(str)
df

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,TRPMILES,TRPTRANS,TRPACCMP,TRPHHACC,...,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN,Person
0,30000007,1,1,1000,1015,15,5.244,3,0,0,...,750,300,50,750,300,350,30,300,300,30000007-1
1,30000007,1,2,1510,1530,20,5.149,3,0,0,...,300,300,50,1500,750,750,20,750,300,30000007-1
2,30000007,2,1,700,900,120,84.004,6,0,0,...,1500,750,50,1500,750,750,20,750,300,30000007-2
3,30000007,2,2,1800,2030,150,81.628,6,0,0,...,750,300,40,1500,750,750,40,1500,750,30000007-2
4,30000007,3,1,845,900,15,2.250,3,0,0,...,750,300,50,750,300,350,60,750,300,30000007-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923567,50515573,1,1,810,837,27,1.168,1,0,0,...,30000,17000,70,7000,7000,5000,80,17000,17000,50515573-1
923568,50515573,1,2,1320,1328,8,0.238,1,0,0,...,17000,17000,70,7000,7000,5000,60,3000,3000,50515573-1
923569,50515573,1,3,1415,1420,5,0.238,1,0,0,...,3000,3000,70,7000,7000,5000,80,17000,17000,50515573-1
923570,50515573,1,4,1820,1845,25,0.867,1,0,0,...,17000,17000,60,30000,30000,5000,70,30000,30000,50515573-1
923571,50515573,1,5,1848,1855,7,0.325,1,0,0,...,30000,30000,70,30000,30000,5000,70,30000,17000,50515573-1

In [8]:
af = pd.read_csv('2017mergedontournhts1.csv')
af

,Unnamed: 0,Person,Tour,Stop,P_Destination,HOUSEID,PERSONID,R_AGE,EDUC,R_HISP,...,SMPLSRCE,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,0,30000007-1,1.0,NaN,1.0,30000007,1,67,3,2,...,2,206.690153,T,50,1500,750,750,20,750,300
1,1,30000007-2,1.0,NaN,1.0,30000007,2,66,3,2,...,2,197.075742,T,50,1500,750,750,20,750,300
2,2,30000007-3,1.0,NaN,1.0,30000007,3,28,2,2,...,2,219.514210,T,50,1500,750,750,20,750,300
3,3,30000008-1,1.0,NaN,1.0,30000008,1,55,5,2,...,2,63.185911,R,5,300,300,150,5,300,300
4,4,30000012-1,1.0,7.0,1.0,30000012,1,45,5,2,...,2,58.966275,C,80,17000,17000,5000,60,17000,7000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206585,206585,40794293-2,1.0,NaN,1.0,40794293,2,62,2,2,...,2,161.574227,R,20,50,50,25,20,50,50
206586,206586,40794301-2,1.0,3.0,1.0,40794301,2,59,4,2,...,2,135.366413,R,20,50,50,25,20,300,50
206587,206587,40794301-3,1.0,3.0,NaN,40794301,3,22,3,2,...,2,213.514657,R,20,50,50,25,20,300,50
206588,206588,40794301-6,1.0,1.0,NaN,40794301,6,12,-1,2,...,2,133.448420,R,20,50,50,25,20,300,50
206589,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,1,611.938240,U,70,30000,30000,5000,70,30000,17000

In [22]:
tripandmergedfile=af.merge(df, on='Person', how='left')
tripandmergedfile

,Unnamed: 0,Person,Tour,Stop,P_Destination,HOUSEID_x,PERSONID_x,R_AGE_x,EDUC_x,R_HISP,...,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN
0,0,30000007-1,1.0,NaN,1.0,30000007,1,67,3,2,...,20,750,300,50,750,300,350,30,300,300
1,0,30000007-1,1.0,NaN,1.0,30000007,1,67,3,2,...,30,300,300,50,1500,750,750,20,750,300
2,1,30000007-2,1.0,NaN,1.0,30000007,2,66,3,2,...,40,1500,750,50,1500,750,750,20,750,300
3,1,30000007-2,1.0,NaN,1.0,30000007,2,66,3,2,...,20,750,300,40,1500,750,750,40,1500,750
4,2,30000007-3,1.0,NaN,1.0,30000007,3,28,2,2,...,20,750,300,50,750,300,350,60,750,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880528,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,70,30000,17000,70,7000,7000,5000,80,17000,17000
880529,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,80,17000,17000,70,7000,7000,5000,60,3000,3000
880530,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,60,3000,3000,70,7000,7000,5000,80,17000,17000
880531,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,80,17000,17000,60,30000,30000,5000,70,30000,30000
880532,206589,50515573-1,1.0,3.0,1.0,50515573,1,52,5,2,...,70,30000,30000,70,30000,30000,5000,70,30000,17000

In [23]:

#
ff = tripandmergedfile.groupby(['Person']).first()
ff

,Unnamed: 0,Tour,Stop,P_Destination,HOUSEID_x,PERSONID_x,R_AGE_x,EDUC_x,R_HISP,R_RELAT,...,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN
Person,,,,,,,,,,,,,,,,,,,,,
30000007-1,0,1.0,NaN,1.0,30000007,1,67,3,2,1,...,20,750,300,50,750,300,350,30,300,300
30000007-2,1,1.0,NaN,1.0,30000007,2,66,3,2,2,...,40,1500,750,50,1500,750,750,20,750,300
30000007-3,2,1.0,NaN,1.0,30000007,3,28,2,2,3,...,20,750,300,50,750,300,350,60,750,300
30000008-1,3,1.0,NaN,1.0,30000008,1,55,5,2,1,...,5,300,300,30,300,300,150,40,1500,750
30000012-1,4,1.0,7.0,1.0,30000012,1,45,5,2,1,...,60,17000,7000,30,750,300,350,5,750,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40794293-2,206585,1.0,NaN,1.0,40794293,2,62,2,2,2,...,20,50,50,20,50,50,25,30,50,50
40794301-2,206586,1.0,3.0,1.0,40794301,2,59,4,2,2,...,20,300,50,40,300,50,25,50,300,50
40794301-3,206587,1.0,3.0,NaN,40794301,3,22,3,2,3,...,20,300,50,40,3000,1500,1500,50,3000,1500
40794301-6,206588,1.0,1.0,NaN,40794301,6,12,-1,2,3,...,20,300,50,40,3000,1500,1500,50,3000,1500
50515573-1,206589,1.0,3.0,1.0,50515573,1,52,5,2,1,...,70,30000,17000,70,7000,7000,5000,80,17000,17000

In [24]:
ff.to_csv('tripandmergedfile.csv')

In [18]:
pd.pivot_table(ff,index='TRPTRANS',values='WTPERFIN',aggfunc = lambda x:x.sum()/ff['WTPERFIN'].sum()*100)

TypeError: pivot_table() got multiple values for argument 'values'

In [19]:

pd.pivot_table(tripandmergedfile,index='TRPTRANS',values='WTPERFIN',aggfunc = lambda x:x.sum()/tripandmergedfile['WTPERFIN'].sum()*100)

TypeError: pivot_table() got multiple values for argument 'values'