In [2]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
#locate files from computer

In [3]:

# locate and load file to Read 
df1 = pd.read_csv('DCmergedfile.csv')
# create a person ID for the dataframe, this is to identify specific persons
df1['Person'] = df1['HOUSEHOLD_ID_x'].map(str) + '-' + df1['PERSNO'].map(str)
#df=df.loc[ :, ['HOUSEID','PERSNO','Person','HHFAMINC','HHSTATE','HHSIZE','HHVEHCNT','LIF_CYC','HH_RACE','R_SEX','R_AGE','TRAVDAY','DWELTIME','TRPMILES','TRPTRANS','TRVLCMIN','URBRUR','WHYFROM','WHYTO','WTTRDFIN']]
# Delete the unknown and remove unknown dwelltime. 
#df1 = df.replace({'Dwelltime':{-9:1000}})

df1

/var/folders/fs/02s140qd6n97_sck15lvgycm0000gn/T/ipykernel_1288/3182102569.py:2: DtypeWarning: Columns (26,27,29,31,54,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('DCmergedfile.csv')

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,MPO_O_ACTIVITY,...,PERSON_TRIPCOUNT,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person
0,0,140000271,14000027101,1,1.400000e+12,121,1,1,1,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
1,1,140000271,14000027101,1,1.400000e+12,50,2,3,2,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
2,2,140000271,14000027101,1,1.400000e+12,4,3,4,5,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
3,3,140000271,14000027101,1,1.400000e+12,254,4,4,5,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
4,4,140000271,14000027101,1,1.400000e+12,-575,5,3,2,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,70,1,1,1,1,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126870,126870,180256941,18025694101,1,1.800000e+12,-845,2,4,7,12,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126871,126871,180256941,18025694102,2,1.800000e+12,525,1,1,1,1,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126872,126872,180256941,18025694102,2,1.800000e+12,25,2,2,2,3,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126873,126873,180256941,18025694102,2,1.800000e+12,-1045,3,4,5,11,...,3,0,157.000000,171,0,0,1,1,0,180256941-2

In [4]:
df1["O_PURPOSE"].replace({1: 'Home', 2: 'Stop', 3:'Stop', 4:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 11:'Stop',13:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',77:'Stop',99 :'Stop',-9:'Stop'}, inplace=True)
df1

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,MPO_O_ACTIVITY,...,PERSON_TRIPCOUNT,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person
0,0,140000271,14000027101,1,1.400000e+12,121,1,1,1,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
1,1,140000271,14000027101,1,1.400000e+12,50,2,3,2,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
2,2,140000271,14000027101,1,1.400000e+12,4,3,4,5,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
3,3,140000271,14000027101,1,1.400000e+12,254,4,4,5,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
4,4,140000271,14000027101,1,1.400000e+12,-575,5,3,2,-9,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,70,1,1,1,1,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126870,126870,180256941,18025694101,1,1.800000e+12,-845,2,4,7,12,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126871,126871,180256941,18025694102,2,1.800000e+12,525,1,1,1,1,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126872,126872,180256941,18025694102,2,1.800000e+12,25,2,2,2,3,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126873,126873,180256941,18025694102,2,1.800000e+12,-1045,3,4,5,11,...,3,0,157.000000,171,0,0,1,1,0,180256941-2

In [5]:
df2 = df1.groupby(['PERSON_ID'])['O_PURPOSE'].count()
df2

PERSON_ID
14000027101    5
14000027103    2
14000028001    5
14000028401    5
14000029101    3
              ..
18025693601    5
18025694001    5
18025694002    5
18025694101    2
18025694102    3
Name: D_PURPOSE, Length: 32923, dtype: int64

In [5]:
df2 = df1.groupby(['PERSON_ID', 'O_PURPOSE']).size().unstack(fill_value=0)
df2

D_PURPOSE    Home  Stop
PERSON_ID
14000027101     1     4
14000027103     1     1
14000028001     2     3
14000028401     1     4
14000029101     1     2
...           ...   ...
18025693601     2     3
18025694001     1     4
18025694002     2     3
18025694101     1     1
18025694102     1     2

[32923 rows x 2 columns]

In [6]:
df2["stoppertour"] = df2["Home"]/df2["Stop"]
df2

D_PURPOSE    Home  Stop  stoppertour
PERSON_ID
14000027101     1     4     0.250000
14000027103     1     1     1.000000
14000028001     2     3     0.666667
14000028401     1     4     0.250000
14000029101     1     2     0.500000
...           ...   ...          ...
18025693601     2     3     0.666667
18025694001     1     4     0.250000
18025694002     2     3     0.666667
18025694101     1     1     1.000000
18025694102     1     2     0.500000

[32923 rows x 3 columns]

In [7]:
df2.to_csv('tourandstop.csv')

In [22]:

category = pd.cut(df1.Dwelltime,bins=[0,240,10000],labels=['short Stop at ','Primary'])
df1.insert(5,'Primary stop',category)
df1

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,PERSON_TRIPCOUNT,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person
0,0,140000271,14000027101,1,1.400000e+12,short Stop at,121,1,1,1,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
1,1,140000271,14000027101,1,1.400000e+12,short Stop at,50,2,3,2,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
2,2,140000271,14000027101,1,1.400000e+12,short Stop at,4,3,4,5,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
3,3,140000271,14000027101,1,1.400000e+12,Primary,254,4,4,5,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
4,4,140000271,14000027101,1,1.400000e+12,NaN,-575,5,3,2,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,short Stop at,70,1,1,1,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126870,126870,180256941,18025694101,1,1.800000e+12,NaN,-845,2,4,7,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126871,126871,180256941,18025694102,2,1.800000e+12,Primary,525,1,1,1,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126872,126872,180256941,18025694102,2,1.800000e+12,short Stop at,25,2,2,2,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126873,126873,180256941,18025694102,2,1.800000e+12,NaN,-1045,3,4,5,...,3,0,157.000000,171,0,0,1,1,0,180256941-2

In [23]:
#df1["WHYTO"].replace({1: 'Home', 2: 'Home', 3:'Stop', 4:'Stop', 5: 'Stop', 6:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 10:'Stop', 11:'Stop', 12:'Stop',13:'Stop',14:'Stop',15:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',97:'Stop',-7 :'Stop', -8 : 'Stop', 97:'Stop',-9:'Stop'}, inplace=True)
#df1["D_PURPOSE"].replace({1: 'Home', 2: 'Work', 3:'Work', 4:'Shop', 7:'School', 8:'School', 9:'Other', 11:'Other',13:'Other',16:'Publictransit',17:'Publictransit',19:'Airport',77:'Other',99 :'Other',-9:'Other'}, inplace=True)
df1["RACEETHNICITY"].replace({1:"Hispanic", 2: "Black", 3:'Asian', 4:'White',5:'Others', -9:'Others'},  inplace = True)
#df["TRAVEL_MODE"].replace({1: 'Walk', 2: 'Bike', 3:'Bike', 4:'Car', 5:'Car', 6:'School bus', 7:'rail', 8:'Bus', 9:'Bus',10:'Para transit',11:'Taxi',12:'Taxi',13:'Air',14:'Water',15:'Others'}, inplace=True)
df1["TRAVEL_MODE"].replace({1: 'Walk', 2: 'Bike', 3:'Bike', 4:'Private car', 5:'Private car', 6:'School bus', 7:'Public transit', 8:'Public transit', 9:'Rideshare/Private Bus',10:'Rideshare/Private Bus',11:'Rideshare/Private Bus',12:'Rideshare/Private Bus',13:'Others',14:'Others',15:'Others'}, inplace=True)
df1["D_PURPOSE"].replace({1: 'Home', 2: 'Stop', 3:'Stop', 4:'Stop', 7:'Stop', 8:'Stop', 9:'Stop', 11:'Stop',13:'Stop',16:'Stop',17:'Stop',18:'Stop',19:'Stop',77:'Stop',99 :'Stop',-9:'Stop'}, inplace=True)

#df1["D_PURPOSE"].replace({1: 'Home', 2: 'Work', 3:'Work', 4:'Shop', 7:'School', 8:'School', 9:'Other', 11:'Other',13:'Other',16:'Publictransit',17:'Publictransit',18:'Airport',77:'Other',99 :'Other',-9:'Other'}, inplace=True)




df1

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,PERSON_TRIPCOUNT,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person
0,0,140000271,14000027101,1,1.400000e+12,short Stop at,121,1,1,1,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
1,1,140000271,14000027101,1,1.400000e+12,short Stop at,50,2,3,2,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
2,2,140000271,14000027101,1,1.400000e+12,short Stop at,4,3,4,5,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
3,3,140000271,14000027101,1,1.400000e+12,Primary,254,4,4,5,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
4,4,140000271,14000027101,1,1.400000e+12,NaN,-575,5,3,2,...,5,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,short Stop at,70,1,1,1,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126870,126870,180256941,18025694101,1,1.800000e+12,NaN,-845,2,4,7,...,2,0,157.000000,163,0,0,1,1,0,180256941-1
126871,126871,180256941,18025694102,2,1.800000e+12,Primary,525,1,1,1,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126872,126872,180256941,18025694102,2,1.800000e+12,short Stop at,25,2,2,2,...,3,0,157.000000,171,0,0,1,1,0,180256941-2
126873,126873,180256941,18025694102,2,1.800000e+12,NaN,-1045,3,4,5,...,3,0,157.000000,171,0,0,1,1,0,180256941-2

In [24]:
#Definitions of Tour, Stop and primary destination.
#Here we merge the two columns to understand the travel pattern. The definitions are based on the time spent at the location and the type pf location.

df1["Dailypattern"] = df1["Primary stop"].astype(str) + df1["D_PURPOSE"]
df1

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person,Dailypattern
0,0,140000271,14000027101,1,1.400000e+12,short Stop at,121,1,1,1,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,short Stop at Stop
1,1,140000271,14000027101,1,1.400000e+12,short Stop at,50,2,3,2,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,short Stop at Stop
2,2,140000271,14000027101,1,1.400000e+12,short Stop at,4,3,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,short Stop at Stop
3,3,140000271,14000027101,1,1.400000e+12,Primary,254,4,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,PrimaryStop
4,4,140000271,14000027101,1,1.400000e+12,NaN,-575,5,3,2,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,nanHome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,short Stop at,70,1,1,1,...,0,157.000000,163,0,0,1,1,0,180256941-1,short Stop at Stop
126870,126870,180256941,18025694101,1,1.800000e+12,NaN,-845,2,4,7,...,0,157.000000,163,0,0,1,1,0,180256941-1,nanHome
126871,126871,180256941,18025694102,2,1.800000e+12,Primary,525,1,1,1,...,0,157.000000,171,0,0,1,1,0,180256941-2,PrimaryStop
126872,126872,180256941,18025694102,2,1.800000e+12,short Stop at,25,2,2,2,...,0,157.000000,171,0,0,1,1,0,180256941-2,short Stop at Stop
126873,126873,180256941,18025694102,2,1.800000e+12,NaN,-1045,3,4,5,...,0,157.000000,171,0,0,1,1,0,180256941-2,nanHome

#idx=df1.groupby(['PERSON_ID'])['Dwelltime'].max()
#df1[idx]

idx = df1.groupby(['PERSON_ID'])['Dwelltime'].transform(max) == df1['Dwelltime']

df1[idx]

kk=df1[idx]

k=kk.loc[ :, ['PERSON_ID','D_PURPOSE','TRAVEL_MODE','WTPERFIN']]

k

pd.pivot_table(kk,index='D_PURPOSE',values='WTPERFIN',aggfunc = lambda x:x.sum()/kk['WTPERFIN'].sum()*100)

k.to_csv('tourpurpose.csv')

In [26]:

# The logic here is that a 'stop' is a short stop at a location less than 2 hours, a 'Tour' is a longer stop often over night, also it is where most trips are assumed to start from. 
# A 'p_destination' is a primary location an individual commutes to. 
df1=df1.replace(to_replace ="short Stop at Home", value ="Tour") 
df1=df1.replace(to_replace ="short Stop at Stop", value ="Stop") 
df1=df1.replace(to_replace ="PrimaryStop", value ="P_Destination") 
df1=df1.replace(to_replace ="nanHome", value ="Tour") 
df1=df1.replace(to_replace ="PrimaryHome", value ="Tour") 
df1

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person,Dailypattern
0,0,140000271,14000027101,1,1.400000e+12,short Stop at,121,1,1,1,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
1,1,140000271,14000027101,1,1.400000e+12,short Stop at,50,2,3,2,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
2,2,140000271,14000027101,1,1.400000e+12,short Stop at,4,3,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
3,3,140000271,14000027101,1,1.400000e+12,Primary,254,4,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,P_Destination
4,4,140000271,14000027101,1,1.400000e+12,NaN,-575,5,3,2,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Tour
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126869,126869,180256941,18025694101,1,1.800000e+12,short Stop at,70,1,1,1,...,0,157.000000,163,0,0,1,1,0,180256941-1,Stop
126870,126870,180256941,18025694101,1,1.800000e+12,NaN,-845,2,4,7,...,0,157.000000,163,0,0,1,1,0,180256941-1,Tour
126871,126871,180256941,18025694102,2,1.800000e+12,Primary,525,1,1,1,...,0,157.000000,171,0,0,1,1,0,180256941-2,P_Destination
126872,126872,180256941,18025694102,2,1.800000e+12,short Stop at,25,2,2,2,...,0,157.000000,171,0,0,1,1,0,180256941-2,Stop
126873,126873,180256941,18025694102,2,1.800000e+12,NaN,-1045,3,4,5,...,0,157.000000,171,0,0,1,1,0,180256941-2,Tour

In [27]:
# define if is Tour, Stop or P Destination
# run individual codes for the differents patterns
#df2=df1.loc[df1.Dailypattern=='Tour', :]
df2=df1.loc[df1.Dailypattern=='Stop', :]
#df2=df1.loc[df1.Dailypattern=='P_Destination', :]
df2

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Person,Dailypattern
0,0,140000271,14000027101,1,1.400000e+12,short Stop at,121,1,1,1,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
1,1,140000271,14000027101,1,1.400000e+12,short Stop at,50,2,3,2,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
2,2,140000271,14000027101,1,1.400000e+12,short Stop at,4,3,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,140000271-1,Stop
9,9,140000280,14000028001,1,1.400000e+12,short Stop at,20,3,1,1,...,-9,131.745870,143,-9,-9,-9,-9,-9,140000280-1,Stop
10,10,140000280,14000028001,1,1.400000e+12,short Stop at,68,4,4,5,...,-9,131.745870,143,-9,-9,-9,-9,-9,140000280-1,Stop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126864,126864,180256940,18025694002,2,1.800000e+12,short Stop at,90,1,1,1,...,0,139.000000,141,0,0,0,0,0,180256940-2,Stop
126865,126865,180256940,18025694002,2,1.800000e+12,short Stop at,10,2,9,9,...,0,139.000000,141,0,0,0,0,0,180256940-2,Stop
126867,126867,180256940,18025694002,2,1.800000e+12,short Stop at,25,4,1,1,...,0,139.000000,141,0,0,0,0,0,180256940-2,Stop
126869,126869,180256941,18025694101,1,1.800000e+12,short Stop at,70,1,1,1,...,0,157.000000,163,0,0,1,1,0,180256941-1,Stop
126872,126872,180256941,18025694102,2,1.800000e+12,short Stop at,25,2,2,2,...,0,157.000000,171,0,0,1,1,0,180256941-2,Stop

In [75]:
#count the numbers of tours, stops and p.destination, 
# change the dependent variable to count the tours, stops and p.d 
#This will provide different columns 

#df2['Tour'] = df2.groupby('PERSON_ID')['Dailypattern'].transform('count')
#df2['Stop'] = df2.groupby('PERSON_ID')['Dailypattern'].transform('count')
df2['P_Destination'] = df2.groupby('PERSON_ID')['Dailypattern'].transform('count')
df2

/var/folders/fs/02s140qd6n97_sck15lvgycm0000gn/T/ipykernel_985/1983591298.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['P_Destination'] = df2.groupby('PERSON_ID')['Dailypattern'].transform('count')

,Unnamed: 0,HOUSEHOLD_ID_x,PERSON_ID,PERSNO,TRIPID,Primary stop,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,...,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,Dailypattern,P_Destination
3,3,140000271,14000027101,1,1.400000e+12,Primary,254,4,4,5,...,-9,136.460113,153,-9,-9,-9,-9,-9,P_Destination,1
5,5,140000271,14000027103,3,1.400000e+12,Primary,544,1,1,1,...,-9,136.460113,152,-9,-9,-9,-9,-9,P_Destination,1
7,7,140000280,14000028001,1,1.400000e+12,Primary,445,1,1,1,...,-9,131.745870,143,-9,-9,-9,-9,-9,P_Destination,1
17,17,140000291,14000029101,1,1.400000e+12,Primary,530,1,1,1,...,-9,88.698225,100,-9,-9,-9,-9,-9,P_Destination,1
36,36,140000316,14000031601,1,1.400000e+12,Primary,591,1,1,1,...,-9,58.049674,65,-9,-9,-9,-9,-9,P_Destination,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126831,126831,180256829,18025682903,3,1.800000e+12,Primary,520,1,1,1,...,-9,245.000000,285,0,0,0,0,0,P_Destination,1
126833,126833,180256848,18025684801,1,1.800000e+12,Primary,270,1,1,1,...,0,95.000000,94,0,0,0,0,0,P_Destination,1
126839,126839,180256868,18025686801,1,1.800000e+12,Primary,510,1,1,1,...,0,99.000000,120,0,0,0,0,0,P_Destination,1
126841,126841,180256868,18025686802,2,1.800000e+12,Primary,570,1,1,1,...,0,99.000000,91,0,0,0,0,0,P_Destination,1
126871,126871,180256941,18025694102,2,1.800000e+12,Primary,525,1,1,1,...,0,157.000000,171,0,0,1,1,0,P_Destination,1

In [76]:
# Here you can select between person level tour or house level tour. 

dff = df2.groupby(['PERSON_ID']).mean()
#tour = df1.groupby(['HOUSEID']).mean()
dff

,Unnamed: 0,HOUSEHOLD_ID_x,PERSNO,TRIPID,Dwelltime,TRIPNO,O_PURPOSE,O_ACTIVITY,MPO_O_ACTIVITY,O_STATE_FIPS,...,PERSON_TRIPCOUNT,WALK_BIKE_LOOP_TRIPS,WTPERFIN,WWM_WTPERFIN,AGE_IMP,GENDER_IMP,RACEETHNICITY_IMP,MPO_RACEETHNICITY_IMP,DISABILITY_IMP,P_Destination
PERSON_ID,,,,,,,,,,,,,,,,,,,,,
14000027101,3.0,140000271.0,1.0,1.400000e+12,254.0,4.0,4.0,5.0,-9.0,24.0,...,5.0,-9.0,136.460113,153.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0
14000027103,5.0,140000271.0,3.0,1.400000e+12,544.0,1.0,1.0,1.0,-9.0,24.0,...,2.0,-9.0,136.460113,152.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0
14000028001,7.0,140000280.0,1.0,1.400000e+12,445.0,1.0,1.0,1.0,-9.0,24.0,...,5.0,-9.0,131.745870,143.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0
14000029101,17.0,140000291.0,1.0,1.400000e+12,530.0,1.0,1.0,1.0,-9.0,24.0,...,3.0,-9.0,88.698225,100.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0
14000031601,36.0,140000316.0,1.0,1.400000e+12,591.0,1.0,1.0,1.0,-9.0,24.0,...,5.0,-9.0,58.049674,65.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18025682903,126831.0,180256829.0,3.0,1.800000e+12,520.0,1.0,1.0,1.0,1.0,11.0,...,2.0,-9.0,245.000000,285.0,0.0,0.0,0.0,0.0,0.0,1.0
18025684801,126833.0,180256848.0,1.0,1.800000e+12,270.0,1.0,1.0,1.0,1.0,11.0,...,6.0,0.0,95.000000,94.0,0.0,0.0,0.0,0.0,0.0,1.0
18025686801,126839.0,180256868.0,1.0,1.800000e+12,510.0,1.0,1.0,1.0,1.0,24.0,...,2.0,0.0,99.000000,120.0,0.0,0.0,0.0,0.0,0.0,1.0
18025686802,126841.0,180256868.0,2.0,1.800000e+12,570.0,1.0,1.0,1.0,1.0,24.0,...,2.0,0.0,99.000000,91.0,0.0,0.0,0.0,0.0,0.0,1.0
18025694102,126871.0,180256941.0,2.0,1.800000e+12,525.0,1.0,1.0,1.0,1.0,24.0,...,3.0,0.0,157.000000,171.0,0.0,0.0,1.0,1.0,0.0,1.0

In [77]:
#dff1=dff.loc[ :, ['HOUSEHOLD_ID_x','Tour']]
#dff1=dff.loc[ :, ['HOUSEHOLD_ID_x','Stop']]
dff1=dff.loc[ :, ['HOUSEHOLD_ID_x','P_Destination']]
dff1

             HOUSEHOLD_ID_x  P_Destination
PERSON_ID
14000027101     140000271.0            1.0
14000027103     140000271.0            1.0
14000028001     140000280.0            1.0
14000029101     140000291.0            1.0
14000031601     140000316.0            1.0
...                     ...            ...
18025682903     180256829.0            1.0
18025684801     180256848.0            1.0
18025686801     180256868.0            1.0
18025686802     180256868.0            1.0
18025694102     180256941.0            1.0

[18690 rows x 2 columns]

In [78]:
#dff1.to_csv('DCtourfile.csv')
#dff1.to_csv('DCStopfile.csv')
dff1.to_csv('DCPDestinfile.csv')

In [ ]:
#tour.to_csv('tourfile.csv')
#tour.to_csv('stopfile.csv')
#tour.to_csv('pdestinationfile.csv')

# import the person or household file to merge, for household level tour or person level tour

In [ ]:
#The point of merging is to use the person or household sample weights. 
#you can break the file at this poin if its too large.

In [ ]:
person = pd.read_csv('Perpub.csv')
tour = pd.read_csv('tourfile.csv')
stop = pd.read_csv('stopfile.csv')
pdestination = pd.read_csv('pdestinationfile.csv')

In [ ]:
#Merge trip and person level file and select the person level or household sample weights
persontour = tour.join(person, lsuffix="_left", rsuffix="_right")
persontour

In [ ]:
#Merge trip and person level file and select the person level or household sample weights
persontourstop = stop.join(persontour, lsuffix="_left", rsuffix="_right")
persontourstop

In [ ]:
#Merge trip and person level file and select the person level or household sample weights
merged = pdestination.join(persontourstop, lsuffix="_left", rsuffix="_right")
merged